body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    padding: 15px;
    text-align: left;
    z-index: 1;
    background: #222222;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 110px;
    left: 0;
    background-color: #333333; 
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar Open State */
.sidebar-open {
    width: 250px; /* Width when sidebar is open */
}

/* Menu Links */
.sidebar a {
    padding: 10px 20px; /* Increased padding for better spacing */
    text-decoration: none;
    font-size: 20px; /* Adjusted font size */
    color: #f1f1f1; /* Light color for better contrast */
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar a:hover {
    color: #3370f6; /* Vibrant color on hover */
    background-color: rgba(255, 255, 255, 0.1); /* Subtle background */
}

/* Main Content Styles */
.content, .container, #tool_set {
    transition: margin-left 0.3s ease; /* Smooth content shift */
    padding: 80px 20px 20px 20px; /* Top padding to avoid header overlap */
    
    margin: auto;
    text-align: center;
}

#tool_set.shift {
    margin-left: 250px;
    margin-right: 10px;
}

.shift {
    margin-left: 250px; /* Shift content when sidebar is open */
}

@media screen and (max-width: 600px) {
    /* Sidebar covers full screen on small devices */
    .sidebar-open {
        width: 100%;
    }

    /* Do not shift content on small screens */
    .shift {
        margin-left: 0;
    }
}

.thumb img {
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.catalogEntry {
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    position: relative;
}

h4 { 
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 { 
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

p{
    font-size: 18px;
    margin-bottom: 10px;
}

.json p{
    text-align: left;
    margin: 0px;
}

.spacer{
    margin-top: 100px;
}

.recent-badge{
    display: inline-block;
    padding: 4px 8px;
    background-color: #f00;
    color: white;
    font-size: 10px;
    border-radius: 4px;
    position: absolute;
    top: 5px;
    right: 5px;
}

/*Footer and button styling from RERUM homepage.*/
footer {
    z-index: 3;
    position:fixed;
    bottom:0;
    width:100vw;
    overflow: hidden;
    padding: 1rem 0;
    background-color: #dfdfdf;
    font-family:Arial, Helvetica, sans-serif;
}

footer .button {
    border-color: transparent;
    margin:0;
    width: 23%;
    float: left;
    box-sizing: border-box;
}

footer .button:hover{
    background-color: #a3d1ff;
}

footer::before{
    content: "";
    position: absolute;
    box-shadow: 0 0 3rem #001e3c;
    height: 2rem;
    top: -2.5rem;
    width: 120%;
    left: -10%;
}

.button:focus{
    color: #333;
    border-color: #888;
    outline: 0;
}